<div style="padding: 20px;">
  <div style="font-size: 18px; font-weight: 500">
    Pull Individual Report
  </div>
  <div style="padding: 10px; width: 40%;">
    <div style="padding-bottom: 15px;">
      <mat-form-field class="" style="width: 100%;">
        <input matInput type="text" placeholder="Household ID" [formControl]="householdID">
        <mat-error *ngIf="householdID.invalid">
          Please enter the household ID
        </mat-error>
        <mat-error *ngIf="!validID && !householdID.invalid">
          Please enter valid household ID
        </mat-error>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <button class="btn-dwnld" matButton (click)="checkForDownload(householdID.value)">Download</button>
      <div *ngIf="validID" style="padding-top: 10px; font-size: 12px; display: flex; justify-content: flex-end;">
        <span class="anchor" (click)="downloadHeatmap(householdID.value)">Heatmap</span>
        <span class="anchor" (click)="downloadCombined(householdID.value)" style="margin-left: 10px;">Combined</span>
      </div>
    </div>
  </div>
  <div style="padding: 10px; width: 40%;">
    <div style="padding-bottom: 15px;">
      <mat-form-field class="" style="width: 100%;">
        <input matInput type="text" placeholder="Phone Number" [formControl]="phoneNumber">
        <mat-error *ngIf="phoneNumber.invalid">
          Please enter the phone number
        </mat-error>
        <mat-error *ngIf="!validPhone && !phoneNumber.invalid">
          Please enter valid phone number
        </mat-error>
      </mat-form-field>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <button class="btn-dwnld" matButton (click)="checkPhoneForDownload(phoneNumber.value)">Download</button>
      <div *ngIf="validPhone" style="padding-top: 10px; font-size: 12px; display: flex; justify-content: flex-end;">
        <span class="anchor" (click)="downloadHeatmap(householdNumber)">Heatmap</span>
        <span class="anchor" (click)="downloadCombined(householdNumber)" style="margin-left: 10px;">Combined</span>
      </div>
    </div>
  </div>
</div>